@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Neonderthaw&family=Press+Start+2P&family=Roboto&display=swap');
/* font-family: 'Berkshire Swash', cursive;
font-family: 'Neonderthaw', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; */
/* @media screen and (max-width: 820px) { */

    html {
        scroll-behavior: smooth;
       }
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
/* PEN STYLES ========== */
a,
.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
	.side_menu {
		background: #7cb1afee;
		height: 100vh;
		left: -250px;
		position: fixed;
		top: 0px;
		width: 250px;
	}
	.side_menu .container {
		padding: 0 1em;
	}

/* HAMBURGER STYLES ----- */
	.burger_box {
		display: block;
		float: right;
		margin-right: -90px;
	}
	.burger_box a.menu-icon {
		display: inline-block;
		float: none;
		height: 35px;
		padding: 20px;
		opacity: .5;
		width: 50px;
		z-index: 100;
	}
	.burger_box a.menu-icon:hover,
	.burger_box a.menu-icon.opened {
		opacity: 1;
	}
	.burger_box a.menu-icon.opened {
		background: #7cb1af7c;
	}
	.burger_box .menu-icon_box {
		display: inline-block;
		height: 50px;
		position: relative;
		text-align: left;
		width: 50px;
        /* padding-top: 10px; */
        /* text-align: center; */
	}
	.burger_box .menu-icon_line {
		background: black;
		border-radius: 2px;
		display: inline-block;
		height: 6px;
		position: absolute;
		width: 100%;
	}
	.burger_box .menu-icon_line--1 {
		top: 6px;
	}
	.burger_box .menu-icon_line--2 {
		top: 30px;
	}
	.burger_box .menu-icon_line--3 {
		top: 54px;
	}
	.burger_box .menu-icon_line--1 {
		transition: top 200ms 250ms, transform 200ms;
		-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon_line--2 {
		transition: opacity 0ms 300ms;
		-webkit-transition: opacity 0ms 300ms;
	}
	.burger_box .menu-icon_line--3 {
		transition: top 100ms 300ms, transform 200ms;
		-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_box {
		transform: scale3d(0.9, 0.9, 0.9);
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	.burger_box .menu-icon.opened .menu-icon_line {
		top: 10px;
	}
	.burger_box .menu-icon.opened .menu-icon_line--1 {
		transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transition: top 100ms, transform 200ms 250ms;
		-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--2 {
		opacity: 0;
		transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--3 {
		transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transition: top 200ms, transform 200ms 250ms;
		-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
	}

/* STAGGER LIST ----- */
	.list_load {
		display: none;
		list-style: none;
		padding: 0;
	}
	.list_item {
		margin-left: -20px;
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item input {
		color: #fff;
		display: block;
		padding: 5px 10px;
		text-decoration: none;
        background-color: transparent;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
	}
	.list_item input:hover {
		background: rgba(255,255,255,.2);
	}
    body {
        margin: 0;
    }
    body section {
        width: 375px;
        /* background-color: blue; */
        margin-left: auto;
        margin-right: auto;
    }

    a:visited,
    a {
        text-decoration: none;
        color: black;
    }


/* STICKY MENU */
    #mobile_menu {
        width: 75px;
        height: 100px;
        position: fixed;
        top: 5px;
        align-self: flex-start;
        z-index: 1;
        display: flex;
        align-items: center;
    }

/* NAVIGATION BAR */
    nav {
        display: flex;
        width: 375px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        align-items: center;
        /* border-bottom: 2px solid black; */
        /* display: inline-flex; */
    }

    nav a {
        height: 100px;
        display: flex;
        align-items: center;
    }

    #spacer {
        width: 75px;
        height: 100px;
    }


/* GENERAL STYLING */
    #nav_bottom_boarder {
        border: 1px solid black;
        width: 100vw;
    }

    img {
        transition: transform .2s; /* Animation */
    }

    img:hover {
        transform: scale(1.1);
    }

    hr.center_diamond{
        border: 0;
        height: 1px;
        width: 10%;
        position: relative;
        margin: 30px auto;
        background: black;
    }


    .center_diamond:before{
        content: "";
        width: 6px;
        height: 6px;
        background: black;
        display: inline-block;
        border: 2px solid black;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
      }

/* INTRO */
    #photo_and_name {
        width: 375px;
        height: 150px;
        margin: 10px 50px 10px auto;
        /* display: flex; */
    }

    #photo {
        width: 120px;
        display: inline;
    }

    #my_name {
        /* width: 120px; */
        display: inline;
        font-family: 'Press Start 2P', cursive;
        font-size: 15px;
    }

    p {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }

    section {
        margin-top: 100px;
    }

/* TABLEGATER */
    #tableGater_section_head {
        width: 350px;
        height: 100px;
        margin: 10px auto 10px auto;
    }
    #tableGater_section_head .title {
        font-family: 'Press Start 2P', cursive;
        font-size: 15px;
        display: inline;
    }

    #tableGater_section_head svg {
        display: inline;
    }

    #tableGater_img1,
    #tableGater_img2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    #tableGater img {
        width: 275px;
    }
    #tableGater_tryme {
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;
        /* overflow-wrap: break-word; */
        text-align: center;
    }

/* HARMONY.IO */

    #harmony_section_head {
        width: 350px;
        height: 100px;
        margin: 10px auto 10px auto;
    }

    #harmony_section_head .title {
        font-family: 'Berkshire Swash', cursive;
        font-size: 40px;
        display: inline;
    }

    #harmony_section_head svg {
        display: inline;
    }

    #harmony img {
        width: 275px;
    }

    #harmony_img1,
    #harmony_img2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    #harmony_tryme {
        font-family: 'Berkshire Swash', cursive;
        font-size: 30px;
        /* overflow-wrap: break-word; */
        text-align: center;
        width: 40px;
        line-height: 30px;
    }

/* QUICKCAST */
    #quickCast_section_head {
        width: 350px;
        height: 100px;
        margin: 10px auto 10px auto;
    }

    #quickCast_section_head .title {
        font-family: 'Neonderthaw', cursive;
        font-size: 40px;
        display: inline;
    }

    #quickCast_section_head svg {
        display: inline;
    }

    #quickCast img {
        width: 275px;
    }

    #quickCast_img1,
    #quickCast_img2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    #quickCast_tryme {
        font-family: 'Neonderthaw', cursive;
        font-size: 30px;
        /* overflow-wrap: break-word; */
        text-align: center;
        width: 40px;
        line-height: 30px;
    }

/* ABOUT ME */
    #about_me .title{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .skills {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .skills img {
        width: 55px;
    }

    .skills #javascript {
        width: 80px;
    }

    .skills #react {
        width: 70px;
    }

    .skills #express {
        width:100px;
    }

    .skills #postgresql {
        width: 70px;
    }

    .skills #sequelize {
        width: 80px;
    }

    .skills #sqlalchemy {
        width: 80px;
    }


/* } */
